@media (max-width: 2000px) {
  /*footer*/
  #footer-list-mode {
    display: block;
  }
  #footer-accordion-mode {
    display: none;
  }
}
/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
  /*header*/
  .opened-search-box-submit {
    left: 22%;
  }
}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  /*header*/
  .opened-search-box-submit {
    left: 21.5%;
  }
  .main-menu-backdrop li {
    padding: 9px;
  }
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  /*header*/
  .search-box-icon {
    left: 90%;
    top: 30%;
    transform: translateY(-70%);
  }
  .opened-search-box {
    width: 110%;
    top: 4%;
    height: 45px;
    line-height: 45px;
  }
  .opened-search-box input {
    width: 70%;
    height: 35px;
    line-height: 35px;
  }
  .opened-search-box-submit {
    left: 11.5%;
    height: 30px;
    width: 35px;
    line-height: 10px;
  }
  #header-main-menu #offcanvasNavbar,
  .sub-main-menu .offcanvas {
    width: 70%;
    font-size: 1.2rem;
  }
  #main-menu-backdrop.active {
    display: none;
  }
  /*main*/
  .teaser-header {
    font-size: 2.1rem;
  }
  .teaser-text p {
    font-size: 0.7rem;
  }
  /*footer*/
  .company-terms {
    padding-left: 15px;
  }
}

/* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  /*header*/
  .opened-search-box-submit {
    left: 10%;
  }
  /*main*/
  #men-swiper .swiper,
  #women-swiper .swiper {
    font-size: 0.7rem;
  }
  /*footer*/
  .company-terms li {
    padding: 10px 15px;
  }
  #footer-list-mode {
    display: none;
  }
  #footer-accordion-mode {
    display: block;
  }
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .opened-search-box-submit {
    left: 9.5%;
  }
}
