:root {
  --primary-color: #000;
  --secondary-color: #f5f5f5;
  --tertiary-color: #e5e5e5;
  --quaternary-color: #757575;
  --quinary-color: #ffffff;
  --senary-color: #3d3d3d8d;
  --septenary-color: #cccccc;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input::placeholder {
  color: var(--septenary-color);
}
/*header:start*/
/*top-menu*/
.top-menu-container {
  background-color: var(--secondary-color);
}
.top-menu > ul > li {
  list-style-type: none;
  padding: 0px 10px;
  border-right: 2px solid var(--primary-color);
  height: 12px;
  line-height: 8px;
}
.top-menu > ul > :last-child {
  border-right: none;
}
.top-menu > ul > li a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 0.8rem;
  font-weight: bold;
}
/*header-main-menu*/
#header-main-menu .navbar li {
  padding: 5px;
  transition: all 500ms;
}
#header-main-menu .navbar a {
  color: var(--primary-color);
  font-weight: bold;
}
#header-main-menu .navbar a:hover {
  color: var(--senary-color);
}
#header-main-menu .navbar-toggler-customize {
  border: none;
  outline: none;
  font-size: 1rem;
}
#header-main-menu .navbar-toggler-customize:hover {
  border-radius: 50%;
  width: 48px;
  height: 32px;
  background-color: var(--septenary-color);
}
#header-main-menu .navbar-toggler-customize:focus {
  box-shadow: none;
}
#header-main-menu #offcanvasNavbar.offcanvas.show {
  font-size: 1.2rem;
}
/*header-search-box*/
.search-box > input {
  width: 100%;
  background-color: var(--secondary-color);
  outline: none;
  border: none;
  border-radius: 20px;
  padding-left: 50px;
  height: 40px;
  line-height: 40px;
}
.search-box-icon {
  left: 10px;
  top: 40%;
  transform: translateY(-40%);
  position: absolute;
  cursor: pointer;
}
/*header-opened-search-box:start*/
.opened-search-box {
  position: absolute;
  background-color: var(--quinary-color);
  width: 85%;
  height: 60px;
  line-height: 60px;
  z-index: 999;
  top: 9%;
  right: 50%;
  transform: translateX(50%);
  text-align: center;
  display: none;
}
.opened-search-box.active {
  display: block;
}
.opened-search-box input {
  position: relative;
  width: 50%;
  background-color: var(--secondary-color);
  outline: none;
  border: none;
  border-radius: 20px;
  padding-left: 55px;
  height: 45px;
  line-height: 45px;
}
.opened-search-box-submit {
  position: absolute;
  left: 22.2%;
  z-index: 1000;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  height: 40px;
  width: 45px;
  border-radius: 45%;
  line-height: 15px;
  background-color: var(--septenary-color);
}

#close-search-box {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: var(--quinary-color);
  font-weight: bold;
}
/*header-opened-search-box:end*/
.fav-basket-box img {
  padding: 0px 12px;
}
/*header-sub-main-menu*/
.sub-main-menu li {
  list-style-type: none;
  padding: 5px 0px;
}
.sub-main-menu a {
  color: var(--primary-color);
  text-decoration: none;
}
.sub-main-menu li > a {
  color: var(--quaternary-color);
  font-weight: 500;
}
.sub-main-menu .offcanvas-header {
  margin-left: 25px;
}
.sub-main-menu img {
  width: 20px;
  color: var(--quaternary-color);
}
.sub-main-menu .side-main-menu-back-btn {
  font-weight: 500;
  margin: 10px 20px;
  text-align: left;
  border: none;
}
/*#header-main-menu #offcanvasNavbar,
.sub-main-menu .offcanvas {
}
#header-main-menu .offcanvas-backdrop,
.sub-main-menu .offcanvas-backdrop {
}*/

/*header:end*/

/*main:start*/
/*nike-app-section*/
.nike-app-section {
  text-align: center;
  height: 60px;
  background-color: var(--secondary-color);
}
.nike-app-section a {
  font-weight: 500;
  color: var(--primary-color);
}
.nike-app-text {
  font-size: 0.8rem;
}
/*hero-section*/
.hero-section img {
  width: 100%;
  height: 650px;
}
/*air-max-slider-section*/
#air-max .swiper {
  width: 100%;
  height: max-content;
}
.air-max-box,
#air-max .shop-link {
  font-size: 0.8rem;
}
#air-max img {
  width: 100%;
}
#air-max .swiper-button-next::after,
#air-max .swiper-button-prev::after {
  font-size: 12px;
}
#air-max .swiper-button-prev,
#air-max .swiper-button-next {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  color: var(--primary-color);
  background-color: var(--tertiary-color);
  position: unset;
  margin: -5px 3px;
}
#air-max .swiper-button-prev:hover,
#air-max .swiper-button-next:hover {
  background-color: var(--quaternary-color);
  transition: all 500ms;
}

#air-max a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}
#air-max .category-link a {
  color: var(--quaternary-color);
}
/*gear-up-slider-section*/
#men-swiper .swiper,
#women-swiper .swiper {
  width: 100%;
  height: max-content;
  font-size: 0.8rem;
}
.gear-up-section a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}
#men-swiper .category-link a,
#women-swiper .category-link a {
  color: var(--quaternary-color);
}
#men-swiper img,
#women-swiper img {
  width: 100%;
}
#men-swiper .swiper-button-prev::after,
#men-swiper .swiper-button-next::after,
#women-swiper .swiper-button-next::after,
#women-swiper .swiper-button-prev::after {
  font-size: 12px;
}
#men-swiper .swiper-button-next,
#men-swiper .swiper-button-prev,
#women-swiper .swiper-button-next,
#women-swiper .swiper-button-prev {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  color: var(--primary-color);
  background-color: var(--tertiary-color);
  position: unset;
  margin: -5px 5px;
}
#men-swiper .swiper-button-next:hover,
#men-swiper .swiper-button-prev:hover,
#women-swiper .swiper-button-next:hover,
#women-swiper .swiper-button-prev:hover {
  background-color: var(--quaternary-color);
  transition: all 500ms;
}
/*essentials-section*/
#essentials a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}
#essentials img {
  width: 98%;
}
.essentials-description {
  font-size: 0.8rem;
  position: absolute;
  background-color: var(--quinary-color);
  bottom: 10%;
  margin-left: 30px;
  min-width: 90px;
  min-height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 20px;
}
/*main:end*/

/*footer:start*/
/*footer:end*/
